@model IEnumerable<Task3.Models.Products>

@{
    ViewData["Title"] = "Index";
    var countLi = 0;
    var countItem = 0;
}
    
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="~/css/carousel.css" asp-append-version="true" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@*<div class="col-md-12 text-center"><h3>Product Carousel</h3></div>*@
<div class="col-md-6 col-md-offset-3">
<div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="3000" id="myCarousel">
  <div class="carousel-inner">
    @foreach (var item in Model)
    {
        @if (countItem == 0)
        {                    
            <div class="item active">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="#"><img src="@item.Image" class="img-responsive" alt="@item.Description"></a>
                    <p>Descripcóm: @item.Description</p>
                    <p>Precio: @item.Price</p>
                </div>
            </div>
            countItem++;
        }
        else
        {
            <div class="item">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="#"><img src="@item.Image" class="img-responsive" alt="@item.Description"></a>
                    <p>Descripcóm: @item.Description</p>
                    <p>Precio: @item.Price</p>
                </div>
            </div>
        }
    }
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
</div>
</div>


   @* <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->

        <ol class="carousel-indicators">
            @foreach (var item in Model)
            {
                @if (countLi == 0)
                {
                    <li data-target="#myCarousel" data-slide-to="@item.Id" class="active"></li>
                    countLi++;
                }
                else
                {
                    <li data-target="#myCarousel" data-slide-to="@item.Id"></li>
                }
            }
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            @foreach (var item in Model)
            {
                @if (countItem == 0)
                {
                    <div class="item active">
                        <img src="@item.Image" alt="@item.Description" style="width:100%;">
                        <p>Descripcóm: @item.Description</p>
                        <p>Precio: @item.Price</p>
                    </div>
                    countItem++;
                }
                else
                {
                    <div class="item">
                        <img src="@item.Image" alt="@item.Description" style="width:100%;">
                        <p>Descripcóm: @item.Description</p>
                        <p>Precio: @item.Price</p>
                    </div>
                }
            }
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
    </div>*@

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
<script>
    $('.carousel[data-type="multi"] .item').each(function(){
      var next = $(this).next();
      if (!next.length) {
        next = $(this).siblings(':first');
      }
      next.children(':first-child').clone().appendTo($(this));
  
      for (var i=0;i<2;i++) {
        next=next.next();
        if (!next.length) {
    	    next = $(this).siblings(':first');
  	    }
    
        next.children(':first-child').clone().appendTo($(this));
      }
    });
</script>